body {
  font-family: "Roboto", sans-serif;
}

table {
  text-align: center;
  overflow: hidden;
  border-collapse: separate;
  border-left: 3px solid black;
  border-right: 3px solid black;
  font: 400;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin:auto
}

td {
  padding: 35px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
} 