body {
  font-family: "Roboto", sans-serif;
}

input[type='file'] {
    color: transparent; 
    /*direction: rtl;  */
  }
   
#menu-lateral{
    background-color: #222d32;
    height: 100vh;
}

#menu-lateral a {
    color: #ecf0f5;
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}
#menu-lateral  a:hover {
    background-color: #ccc; 
  }
  
#menu-lateral a.active {
    background-color: #4CAF50;
    color: white; 
}

#conteudo{
    background-color: #ecf0f5;
    height: 100vh;
}

.label-menu{
    padding: 50px;
    color: white;
    background-color: #1b2022;
    border-bottom: 1 solid #1b2022;
}

.label-menu h2{
    font-weight: 700;
    font-size: 1.5em;
}

.margin-0 {
    margin: 0;
}

.padding-0{
    padding: 0;
}

table {
    text-align: center;
    overflow: hidden;
    border-collapse: separate;
    border-left: 3px solid black;
    border-right: 3px solid black;
    font: 400;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin:auto
  }
  
  td {
    padding: 35px;
  }
  

  .info{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 20px;
    line-height: 2;
    color: #333;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
    min-height: 90px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
  } 
  
  .info-titulo {
    min-height: 90px;
 
  }

.info-conteudo {
    min-height: 450px;

}

.info-detalhes{
    min-height: 350px;
 
}

.sobre {
    font-size: 1em;
    min-height: 300px;
}

.entrada{
    min-height: 200px;
}
