:root {
    --color-darkness: #222d32;
    --color-white: #ecf0f5;
}

ul,li{margin: 0; padding: 0; list-style: none;}

body {
    font-family: "Roboto", sans-serif;
    max-height: 100%;
}


/* input[type="file"] {
   color: transparent;
  direction: rtl; 
} */

#menu-lateral {
    overflow: auto;
    background-color: var(--color-darkness);
}

#menu-lateral a {
    color: var(--color-white);
    display: block;
    padding: 12px;
    text-decoration: none;
}
#menu-lateral a:hover {
    background-color: darkslategrey;
    border-right: 4px solid #df4500;
}

#menu-lateral a.active {
    background-color: darkslategrey;
    color: white;
    border-right: 4px solid #df4500;
}

#conteudo {
    background-color: var(--color-white);
    height: 100vh;
}

.label-menu {
    padding: 23px;
    color: white;
    background-color: #1b2022;
    border-bottom: 1 solid #1b2022;
}

.label-menu h2 {
    font-weight: 700;
    font-size: 1.5em;
}

table {
    text-align: center;
    overflow: hidden;
    border-collapse: separate;
    border-left: 3px solid black;
    border-right: 3px solid black;
    font: 400;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-bottom: 30px;
}

td {
    padding: 22px;
}

.info {
    color: #333;
    font-weight: 500;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

