{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/site.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="col-md-12 m-0 p-0">
            <div class="row">
                <div class="col-md-2 m-0 p-0" id="menu-lateral">
                    <div class="label-menu">
                        <h2><img src="{% static 'img/algebra.png'%}" height="30px" width="30px" />Álgebra Linear
                        </h2>
                        <p>versão 1.0.0</p>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'gauss' %}" id="gauss">Eliminação Gaussiana</a>
                        </li>
                        <li>
                            <a href="{% url 'gaussjordan' %}" id="jordan">Eliminação Gauss Jordan</a>
                        </li>
                        <li>
                            <a href="{% url 'fatoracaolu' %}" id="fatoracao">Fatoração LU</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-10 m-0 p-0">
                    <div id="conteudo">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'libs/jquery/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <!-- <script src="{% static 'libs/tex-mml-chtml.js' %}"></script>  -->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> 
        
</body>

</html>