{% extends 'base.html' %}
{% block title %}Eliminação Gauss Jordan{% endblock %}
{% block content %}

<div class="col-12">
    <div class="info">
        <h2>Eliminação Gaussiana</h2>
    </div>
    <div class="info">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-group" action="{% url 'gaussjordan' %}" method="POST" enctype="multipart/form-data">
                        {{ form.file }}
                        {% csrf_token %}
                        <button type="submit">Executar</button>
                        <button type="button" id="limpar">Limpar</button>  
                        <input type="file" name="file" id="arquivo" required  accept=".csv"/>                       
                        {% comment %} <input type="checkbox" class="form-check-input" name="pivoteamento" id="pivoteamento"/>                     
                        <label class="form-check-label" for="pivoteamento">Pivoteamento</label>               {% endcomment %}
                    <form>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="col-12">
            <div class="row">
                <div class="col-md-5">
                    <table>
                        {% for row in resultado.original %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-5">
                    <table>
                        {% for row in resultado.triangular %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    {% if resultado.resultado %}
                    <h3>Solução: {{resultado.resultado}}</h3>
                    <p>{{resultado.tempo}}</p>
                    {% elif msg%}
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}