{% extends 'base.html' %}
{% block title %}Eliminação Gaussiana{% endblock %}
{% block content %}

<div class="col-12">
    <div class="info">
        <h2>Eliminação Gaussiana</h2>
    </div>
    <div class="info">
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-group" action="{% url 'gauss' %}" method="POST" enctype="multipart/form-data">
                        {{ form.file }}
                        {% csrf_token %}
                        <div class="form-group">
                            <button type="submit">Executar</button>
                            <button type="button" id="limpar">Limpar</button>
                            <input type="file" name="file" id="arquivo" required accept=".csv" />
                        </div>
                    <form>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="col-12">
            <div class="row">
                <div class="col-md-5">
                    {% if resultado.resultado %}
                    <p>Original</p>
                    {% endif %}
                    <table>
                        {% for row in resultado.original %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="col-md-5">
                    {% if resultado.resultado %}
                    <p>Escalonada</p>
                    {% endif %}
                    <table>
                        {% for row in resultado.triangular %}
                        <tr>
                            {% for cell in row %}
                            <td>
                                {{ cell }}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="col-md-12">
                    {% if resultado.resultado %}
                    <h3>Solução: {{resultado.resultado}}</h3>
                    <p>{{resultado.tempo}}</p>
                    {% elif msg%}
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}