{% extends 'base.html' %}
{% block title %}APP{% endblock %}
{% block content %}
{% comment %} <div class="col">
    <div class="col-12 jumbotron">
        <h2 class="text-center">Álgebra Linear</h2>
        <h3 class="text-center">Resolução Sistemas Lineares</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <h4>Metodos Diretos</h4>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" checked /> Método de Gauss
                </label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" /> Método de Gauss Jordan</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" /> Fatoração LU</label>
            </div>  
            <h4>Metodos Iterativos</h4>
            <div class="radio">
                <label><input type="radio" name="optradio" /> Método de Gauss Jacobi</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" /> Método de Gauss
                    Seidel</label>
            </div>
            <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
                {{ form.file }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-block">Executar</button>
                <div class="upload-btn-wrapper">
                    <button class="btn btn-primary btn-block">Importar</button>
                    <input type="file" name="file" id="arquivo"  required />
                </div>
                <button type="button" id="limpar" class="btn btn-danger btn-block">Limpar</button>
                <form>
        </div>

        <div class="col">
            <table>
                {% for row in matriz %}
                <tr>
                    {% for cell in row %}
                    <td>
                        {{ cell }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr />
    </div>
</div> {% endcomment %}
{% endblock %}